* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 60px;
}

.header-button {
  background-color: #163a34;
  width: 167px;
  padding: 12px 16px;
  border-radius: 10px;
  text-align: center;
}

a:link {
  color: #fff;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}

a:visited {
  color: #fff;
}
