* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f5f1;
}

header {
  padding: 20px 60px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-nav a:link {
  font-size: 16px;
  font-weight: 600;
}

.header-button,
.button {
  background-color: #163a34;
  width: 167px;
  padding: 12px 16px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #163a34;
}

.button a:link,
.button a:visited {
  color: #fff;
}

.hero-section-button {
  margin: 0 auto;
  margin-bottom: 80px;
}

/* .header-button a:hover {
  color: #163a34;
} */

/* .header-button:hover {
  background-color: #fff;
  color: #163a34;
} */

a:link {
  color: #163a34;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}

a:visited {
  color: #163a34;
}

.hero-section {
  margin: 0 auto;
  margin-bottom: 96px;
}

h1 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 54px;
  font-weight: 800;
  line-height: 110%;
  color: #163a34;
  margin-bottom: 12px;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 150%;
  color: #163a34;
  margin-bottom: 40px;
}

.hero-section-text {
  width: 805px;
  margin: 0 auto;
}

.hero-image {
  width: 1192px;
  height: 530px;
  display: block;
  margin: 0 auto;
  border: 10px solid #fff;
  border-radius: 12px;
}

.product-information {
  width: 1192px;
  margin: 0 auto;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 120%;
  text-align: center;
  color: #163a34;
}

.product-information-title {
  margin-bottom: 48px;
}

.product-information-services {
  display: flex;
  gap: 32px;
}

.icon-service {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border: 2px solid #e9ede8;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-information-services-cards {
  display: flex;
  flex-flow: column;
  gap: 24px;
  width: 376px;
}

.description-service h3 {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  color: #163a34;
  margin-bottom: 12px;
}

.description-service p {
  text-align: left;
}
